/* .title{
    width: 400px;
    height: 400px;
    background-color: aqua;
    display: inline-block;
    margin: auto;
    justify-content: space-evenly;
    
}
.title_container{
    width: 100px;
    height: 100px;
    background-color:black;
   
}

.title_container2{
    width: 100px;
    height: 100px;
    background-color:blue;
   
} */
/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;/*can chinh lai de khong bi tran ra*/
/* }
.box-model{
    width: ;
    box
} */ 
